**Predicting a Startups Profit/Success Rate using Multiple Linear Regression in Python**

Here 50 startups dataset containing 5 columns  like “R&D Spend”, “Administration”, “Marketing Spend”, “State”, “Profit”.

In this dataset first 3 columns provides you spending on Research , Administration and Marketing respectively. State indicates startup based on that state. Profit indicates how much profits earned by a startup.

Clearly, we can understand that it is a multiple linear regression problem, as the independent variables are more than one.

Prepare a prediction model for profit of 50_Startups data in Python

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [ ]:
df = pd.read_csv('50_Startups.csv')

In [ ]:
df.head(3)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39

In [ ]:
df.tail(3)

    R&D Spend  Administration  Marketing Spend       State    Profit
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

In [ ]:
df.ndim

2

In [ ]:
df.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [ ]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [ ]:
df.shape

(50, 5)

In [ ]:
df.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [ ]:
df.nunique()

R&D Spend          49
Administration     50
Marketing Spend    48
State               3
Profit             50
dtype: int64

In [ ]:
x = df.drop(['Profit','State'],axis=1)
y = df['Profit']

In [ ]:
print(x.head(2))
print(y.head(2))

   R&D Spend  Administration  Marketing Spend
0   165349.2       136897.80        471784.10
1   162597.7       151377.59        443898.53
0    192261.83
1    191792.06
Name: Profit, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.33,random_state=1)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()
model.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
ypred = model.predict(xtest)

In [ ]:
r = pd.DataFrame(ypred,ytest)

In [ ]:
r.head()

                       0
Profit
105008.31  116995.997988
96479.51    93561.794745
78239.91    79412.972429
81229.06    74590.837028
191050.39  177922.580669

In [ ]:
from sklearn.metrics import r2_score,mean_squared_error

In [ ]:
print("Accuracy is: ",r2_score(ytest,ypred))

Accuracy is:  0.9062078637699257

In [ ]:
print("MSE is: ",mean_squared_error(ytest,ypred))

MSE is:  173331217.04563802